<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="3523f46c-86c8-438a-9bb0-3761bb954d10" wadlVersion="http://wadl.dev.java.net/2009/02" name="OpenTee.ExternalApi" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description xsi:nil="true"/><con:settings><con:setting id="3523f46c-86c8-438a-9bb0-3761bb954d10fileName">OpenTee.ExternalApi</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://dev-api.opentee.com</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="Default"/></con:environmentSpec></con:interface>