<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="09623fbc-11e3-4760-a1b8-be71b16db9ec" wadlVersion="http://wadl.dev.java.net/2009/02" name="Web API Swagger specification" type="rest" basePath="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description xsi:nil="true"/><con:settings><con:setting id="ad938c6c-64b7-4340-99ad-d855efb3d96efileName">Web-API-Swagger-specification</con:setting><con:setting id="09623fbc-11e3-4760-a1b8-be71b16db9ecfileName">Web-API-Swagger-specification</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://dist-dev.ezlinks.com</con:endpoint></con:endpoints></con:interface>