<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="cfe7afc7-e95e-48e8-a9e3-d2e442d0049f" wadlVersion="http://wadl.dev.java.net/2009/02" name="API.EZLinks" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="cfe7afc7-e95e-48e8-a9e3-d2e442d0049ffileName">https%3A%2F%2Fapi.ezlinks.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://api.ezlinks.com</con:endpoint></con:endpoints></con:interface>