<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="dd699fff-9269-4b1c-9137-ceadf1de5aaa" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="dd699fff-9269-4b1c-9137-ceadf1de5aaafileName">REST-Service-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>