<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="13b61629-1468-4d94-9836-dd01aa5bf40e" wadlVersion="http://wadl.dev.java.net/2009/02" name="OpenTee.ExternalApi - PROD" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:description xsi:nil="true"/><con:settings><con:setting id="13b61629-1468-4d94-9836-dd01aa5bf40efileName">OpenTee.ExternalApi---PROD</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://api.opentee.com</con:endpoint></con:endpoints></con:interface>