<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d323ddbe-fe90-4ca8-94aa-9ae161472877" name="API.EZLinks" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d323ddbe-fe90-4ca8-94aa-9ae161472877fileName">https%3A%2F%2Fapi.ezlinks.com-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:setupScript/><con:reportParameters/></con:testSuite>